@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

body{
    margin:0;
    height:100vh;

    background:
    radial-gradient(circle at left,
    rgba(46,181,199,0.7),
    transparent 45%),
    radial-gradient(circle at right,
    rgba(46,181,199,0.7),
    transparent 45%),
    radial-gradient(circle at center,
    rgba(35, 150, 200, 0.7),
    transparent 90%),
    #050816;
}

@media(min-width: 600px){  

.scoreboard{
    display: flex;
    gap: 15px;
    position: fixed;
    top: 0px;
    right: 170px;
}

.scoreboard,
.gameTimer,
.playerTimer{
    color: rgba(0, 240, 176, 0.749);
    font-size: larger;
    font-family: monospace;
    font-weight: 600;
    padding-top: 5px;
}

#pause{
    background-color: transparent;
    cursor: pointer;
    color: rgba(0, 240, 176, 0.749);
    font-weight: 700;
    position: absolute;
    right:5px;
    top: 1.5px;
}

#resume{
    background-color: transparent;
    cursor: pointer;
    color: rgba(0, 240, 176, 0.749);
    font-weight: 700;
    position: absolute;
    right: 25px;
    top: 2px;
}

.topPane{
    margin-bottom: 30px;
    width: 100%;
    display: flex;
}

.gameTimer{
    min-width: 70px;
    position: absolute;
    top: 0px;
    right: 25px;
}

.playerTimer{
    min-width: 70px;
    position: absolute;
    top: 0px;
    right: 70px;
}
}

@media(max-width:599px){

.topPane{
    margin-bottom: 70px;
}

.gameTimer,
.playerTimer{
    font-family: monospace;
    font-weight: 600;
    padding-bottom: 5px;
}

.right{
    display: flex;
    flex-direction: row;
    align-items: end;
}

#pause{
    background-color: transparent;
    cursor: pointer;
    color: black;
    font-weight: 700;
    position: absolute;
    left:110px;
    bottom: 6px;
}

#resume{
    background-color: transparent;
    cursor: pointer;
    color: black;
    font-weight: 700;
    position: absolute;
    left: 95px;
    bottom: 6.5px;
}

.gameTimer{
    min-width: 70px;
    position: absolute;
    left: 50px;
    bottom: 0;
}

.playerTimer{
    min-width: 70px;
    position: absolute;
    left: 5px;
    bottom: 0;
}
}

.gameboard {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, min(14vw, 40px));
    grid-template-rows: repeat(12, min(14vw, 40px));
    gap: 1px;
    
}


.title{
    font-size: larger;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 10px;
    color: rgba(0, 240, 176, 0.749);
}   

.gridcell{
    position: relative;
    cursor: pointer;
    background: hsla(0, 9%, 94%, 0.144);
    border: 1.5px solid rgba(0, 240, 176, 0.749);;
    box-shadow:0 0 10px rgba(46,181,199,0.15);
}

.gridcell:hover{
    background: hsla(0, 9%, 50%, 0.144);
    transform: scale(1.05);
}

.circle2{
    visibility:hidden;
}

.circle3{
    visibility: hidden;
}

button {
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    border-radius: 3px;
}

.screen{
    height: 100vh;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    /* visibility: hidden; */
}
.circle1{
    position: absolute;
    top: 12.5px;
    left: 12.5px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: green;
    visibility: hidden;
}

.circle21{ 
    position: absolute;
    top: 15px;
    left: 10px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.circle22{ 
    position: absolute;
    top: 15px;
    left: 17px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.circle31{ 
    position: absolute;
    top: 10px;
    left: 14.5px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.circle32{ 
    position: absolute;
    top: 15px;
    left: 18px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.circle33{ 
    position: absolute;
    top: 15px;
    left: 12px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.menuScreen{
    display:flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 80px;
    
}

.menuBox{
    position: relative;
    height: 270px;
    width: 350px;
    border-radius: 10%;
    background: linear-gradient(135deg, rgba(24, 97, 116, 0.84), hsla(195, 81%, 79%, 0.594));
    border: 4px solid black;
}

#dropdown{
    position: absolute;
    left: 100px;
    top: 140px;
    background-color: rgba(0, 0, 0, 0.642);
    border-radius: 4px;
    height: 30px;
    width: 150px;
    border: 2px solid black;
    font-family: 'Orbitron', sans-serif;
    color: white;
}

#dropdown:hover{
    transform: scale(1.01);
    background-color: rgba(0, 0, 0, 0.5);
}

#playerText{
    position: absolute;
    left: 40px;
    top: 20px;
    font-weight: 700;
    font-size: larger;
    font-family: 'Orbitron', sans-serif;
}

#startBtn{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.642);
    border: 1px solid white;
}

#startBtn:hover{
    cursor: pointer;
    transform: scale(1.01);
    background-color: rgba(0, 0, 0, 0.5);
}

.visualMoves{
    overflow-y: scroll;
    font-family: monospace, sans-serif;
    font-weight: 700;
    height: 100vh;
    position: fixed;
    top: 40px;
    right: 20px;
    color: rgba(0, 240, 176, 0.749);
}

#bombBtn{
    background-color: transparent;
    color: rgba(0, 240, 176, 0.749);
    position: fixed;
    bottom: 20px;
    left: 5px;
    font-weight: 700;
    font-family: monospace, sans-serif;
    font-size: xx-large;
    text-align: center;
}